.light-mode {
    background-color: white;
    color: black;
    transition: backgorund-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}